/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 50px;
}

/* End for testing */
.container {
  width: 98%;
  margin: 0 auto;
}
.title,
.nav {
  width: 50%;
}
.nav {
  margin-top: 2.5%;
}
.header {
  height: 70px;
  margin-top: 5%;
}
.heading {
  background-color: rgba(0, 0, 0, 0.9);
  width: 50%;
  margin: 5% 0;
  height: 15px;
}
.main,
.secondary {
  margin-top: 40px;
}
.gallery {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 40%;
}
.secondary {
  display: none;
}
/*Media Queries*/
@media screen and (min-width: 540px) {
  .main,
  .secondary {
    display: inline-block;
    width: 47.5%;
  }
  .title {
    display: inline-block;
  }
  .nav {
    float: right;
    margin-top: 0;
  }
  .wrap {
    text-align: center;
  }
}
@media screen and (min-width: 1140px) {
  .main,
  .secondary {
    width: 20%;
  }
}